# Default ignored files
/shelf/
/.idea/workspace.xml
/description.html
/encodings.xml
/misc.xml
/modules.xml
/project-template.xml
/vcs.xml
/workspace.xml
/.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/vcs.xml
